<% provide(:title, @product.name) %>
<div class="row">
  <aside class="span4">
     <section>
      <%= render 'products/product_info' %>
    </section>
  </aside>
  <div class="span8">
  </div>
</div>

